<ion-header>
  <ion-toolbar>
    <ion-title>Modifier Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="profileForm" (ngSubmit)="onSave()">
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input formControlName="nom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Prénom</ion-label>
      <ion-input formControlName="prenom"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Enregistrer</ion-button>
  </form>
</ion-content>
