<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/todos"></ion-back-button>
    </ion-buttons>
    <ion-title>Créer une tâche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="create-todo-form" [formGroup]="createTodoForm">
    <ion-item lines="full">
      <ion-input
        formControlName="title"
        label="Titre"
        type="text"
        labelPlacement="floating"
        placeholder="Ex: Réviser Angular"
        [required]="true">
      </ion-input>
    </ion-item>
    <div *ngIf="createTodoForm.controls['title'].invalid && createTodoForm.controls['title'].touched" class="error-message">
      Mettez le titre.
    </div>

    <ion-item lines="full">
      <ion-input
        formControlName="description"
        label="Description"
        type="text"
        labelPlacement="floating"
        placeholder="Détails de la tâche"
        [required]="true">
      </ion-input>
    </ion-item>
    <div *ngIf="createTodoForm.controls['description'].invalid && createTodoForm.controls['description'].touched" class="error-message">
      Entrez La description.
    </div>

    <ion-item lines="none" class="checkbox-item">
      <ion-checkbox formControlName="completed" slot="start" color="success"></ion-checkbox>
      <ion-label>Tâche terminée</ion-label>
    </ion-item>

    <div class="create-button">
      <ion-button
        mode="ios"
        expand="block"
        color="primary"
        shape="round"
        (click)="onCreateTodo()"
        [disabled]="createTodoForm.invalid">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Création de la tache
      </ion-button>
    </div>
  </div>
</ion-content>
